# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mgarb\OneDrive\Dokumenty\Programming\Python\Projects\Udemy\Python_od_a_do_z\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
